[submodule "mmaction2"]
	path = mmaction2
	url = https://github.com/rendicahya/mmaction2.git
[submodule "assertpy"]
	path = assertpy
	url = https://github.com/rendicahya/assertpy.git
[submodule "python_video"]
	path = python_video
	url = https://github.com/rendicahya/python_video.git
[submodule "E2FGVI"]
	path = E2FGVI
	url = https://github.com/rendicahya/E2FGVI.git
